.bg1
{
  background-color:#AFEEEE;

}

p
{
  font-family: 'Akaya Kanadaka', cursive;
}
h2
{
  font-family: 'Righteous', cursive;

}

h3
{
  font-family: 'Sacramento', cursive;
}
.col1
{
  background-color:Yellow;
}
.col2
{
  background-color:	#00ff80;
}
.col3
{
  background-color:	#4682B4;

}
.col4
{
  background-color: #F4A460;
}
.col5
{
  background-color:	#696969;
}
.col6
{
  background-color: 	#778899;
}
.col7
{
  background-color:#F0FFF0;
}
